@using SportsComplex.Application.Helper
@using SportsComplex.Models
@{
    var principal = (CustomPrincipal)HttpContext.Current.User;
    switch (principal.Role)
    {
        case UserRoles.Employee:
            Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
            break;
        case UserRoles.Admin:
            Layout = "~/Views/Shared/_AdminLayout.cshtml";
            break;
    }
}

   
@section scripts
{
    <link href="~/Content/largeButton.css" rel="stylesheet" />
}
<div class="container">
    <div class="row" style="text-align: center; margin-top: 10px; font-weight: bold">
        Please select sports resource to be booked
    </div>
    <div style="text-align: center">
        <div class="row">
            <a href="@Url.Action("Badminton","Module")" class="btn btn-xlarge">
                <img src="~/Images/badmintonResource.ico" class="btn-xlarge-img">
                <br />
                Badminton Court
            </a>
            <a href="@Url.Action("Billiards","Module")" class="btn btn-xlarge">
                <img src="~/Images/billiardsResource.ico" class="btn-xlarge-img">
                <br />
                Billiards
            </a>
        </div>
    </div>
</div>