@{
    ViewBag.Title = "Upload Image";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById('imageUploadId').onsubmit = function () {
                var formdata = new FormData();
                var fileInput = document.getElementById('fileInputType');
                if (fileInput.files.length === 0) {
                    alert("Please select images to be uploaded");
                    return false;
                }
                for (i = 0; i < fileInput.files.length; i++) {
                    formdata.append(fileInput.files[i].name, fileInput.files[i]);
                }
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/Module/UploadImageMethod');
                xhr.send(formdata);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 2  && xhr.status == 200) {
                        alert("Upload image successfully.");
                    }
                }
                return false;
            }
        }
    </script>

}

<div class="container" style="margin-top: 10px">

    <form id="imageUploadId">
        <h3>Upload pictures</h3>
        <hr />
        <input id="fileInputType" type="file" multiple class="file"><br />
        <p>(You Can Upload a JPG, GIF, Or PNG File.)</p>
        <input type="submit" class="btn btn-sm btn-primary" value="Image Upload" />
    </form>
    <hr />
    <div>
        @Html.ActionLink("Back to Gallery", "Gallery", "Module")
    </div>
</div>



