
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section scripts
{
    <link href="~/Content/largeButton.css" rel="stylesheet"/>
}

<div class="container">
    <div class="row">
        <a href="@Url.Action("ResourceBooking","Module")" class="btn btn-xlarge">
            <img src="~/Images/resourceBook_button.ico" class="btn-xlarge-img">
            <br />
            Resource Booking
        </a>
        <a class="btn btn-xlarge">
            <img src="~/Images/gym_button.ico" class="btn-xlarge-img">
            @*<i class="fa fa-chevron-up fa-5x"></i>*@
            <br />
            Gymnasium
        </a>
        <a class="btn btn-xlarge">
            <img src="~/Images/tournament_button.ico" class="btn-xlarge-img">
            <br />
            Tournament
        </a>
        <a class="btn btn-xlarge">
            <img src="~/Images/gallery_button.ico" class="btn-xlarge-img">
            <br />
            Gallery
        </a>
        <a class="btn btn-xlarge">
            <img src="~/Images/report_button.ico" class="btn-xlarge-img">
            <br />
            Sports Report
        </a>
        <a class="btn btn-xlarge">
            <img src="~/Images/admin_button.ico" class="btn-xlarge-img">
            <br />
            Admin Rights
        </a>
    </div>
</div>
    
